on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

name: Publish site

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            knitr
            rmarkdown

      - uses: quarto-dev/quarto-actions/setup@v2

      - uses: quarto-dev/quarto-actions/render@v2

      - uses: nwtgck/actions-netlify@v3
        if: github.event_name != 'pull_request'
        with:
          publish-dir: "_site"
          production-branch: main
          deploy-message: "Deploy from GitHub Actions"
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
